.atom-container {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  // width: 100%;

  @media only screen and (min-width: 900px) {
    max-width: 860px;
  }
  @media only screen and (min-width: 1200px) {
    max-width: 1150px;
  }
  @media only screen and (min-width: 1800px) {
    max-width: 1400px;
  }
}
