.atom-icon {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  object-fit: contain;
  user-select: none;
  
  &-small {
    width: 16px;
    height: 16px;
  }

  &-medium {
    width: 24px;
    height: 24px;
  }

  &-uppermedium {
    width: 28px;
    height: 28px;
  }
  
  &-large {
    width: 32px;
    height: 32px;
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
  }

  &-upperlarge {
    width: 144px;
    height: 48px;
  }

  &-superlarge {
    width: 178px;
    height: 48px;
  }

  &-extrasuperlarge {
    width: 240px;
    height: 96px;
  }
}
