.atom-text {
  transition: 0.4s;
  color: black;
  &-logo {
    font-size: 64px;
    font-weight: bolder;
  }

  &-sublogo {
    font-size: 50px;
    font-weight: bolder;
  }

  &-title {
    font-size: 39px;
    font-weight: bolder;
  }

  &-subtitle {
    font-size: 21px;
  }

  &-undersubtitle {
    font-size: 18px;
  }

  &-header {
    font-size: 16px;
    line-height: 20px;
  }

  &-paragraph {
    font-size: 15px;
    line-height: 20px;
  }

  &-plain {
    font-size: 14px;
  }

  &-tiny {
    font-size: 11px;
  }

  &-button {
    font-size: 17px;
    font-weight: 600;
  }
}
