@import "./atoms/index.scss";
@import "./molecules/index.scss";
@import "./organisms/index.scss";
@import "./pages/index.scss";

body {
  margin: 0;
}

* {
  font-family: "Inter", Sans-serif;

  &::-webkit-scrollbar {
    width: 4px;
    height: 5px;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #5d6163;
    border: 0px solid transparent;
    background-clip: content-box;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
}

/*@keyframes default {

}

@keyframes accordian {
  0%   {max-height: 0px}
  100% {max-height: 1000px}
}
*/